.page-container {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    position: relative; 
    flex-direction: column;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }